@import "tailwindcss";

@theme {
  --color-primary-color: #3B57C9;
  --color-secondary-color: #1C2434;
  --color-title-color: #1C2434;
  --color-title-color-50: #1C243480;
  --color-title-color-70: #1C2434B3;
  --color-gray-light: #F5F7FA;
  --color-gray-light1: #E6EFF5;
  --color-gray-light2: #F8F9FA;
}


body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-gray-light);
}

/* ant-menu-reset.css */
.ant-menu-item,
.ant-menu-submenu-title {
  background: transparent !important;
  margin: 0 !important;
  border-radius: 0 !important;
  color: var(--color-title-color-50) !important;
  min-height: 45px;
}

.ant-menu-item-selected {
  background: transparent !important;
  color: var(--color-primary-color) !important;
}

.ant-menu-submenu-selected, .ant-menu-item-selected {
  position: relative;
}
.ant-menu-submenu-selected::after, .ant-menu-item-selected::after {
  content: "";
  height: 45px;
  width: 6px;
  border-radius: 0px 6px 6px 0;
  background-color: var(--color-primary-color);
  position: absolute;
  top: 0;
  left: 0;
}


ul.ant-menu-sub{
  position: relative;
}
ul.ant-menu-sub .ant-menu-item{
  position: relative;
  padding-left: 55px !important;
  min-height: 35px;
}
ul.ant-menu-sub .ant-menu-item::after{
  content: "";
  position: absolute;
  left: 35px;
  height: 40px;
  width:1px ;
  top: 0;
  background-color: var(--color-primary-color);
  margin-right:20px ;
}

ul.ant-menu-sub .ant-menu-item::before{
  content: "-";
  position: absolute;
  left: 35px;
  height: 40px;
  width:1px ;
  top: 0;
  background: gray;
}
ul.ant-menu {
  height: auto !important;
  background: #fff !important;
}

:where(.css-dev-only-do-not-override-1iph5z3).ant-menu-light .ant-menu-submenu-selected>.ant-menu-submenu-title, :where(.css-dev-only-do-not-override-1iph5z3).ant-menu-light>.ant-menu .ant-menu-submenu-selected>.ant-menu-submenu-title{
  color: var(--color-primary-color) !important;
}